@model List<FunctionViewModel>
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
        {
            var classLiParent = Model.Any(x => x.ParentId == item.Id) ? "nav-item has-treeview" : "nav-item";
            var totalChild = Model.Where(x => x.ParentId == item.Id).Count();
            <li class="@classLiParent">
                <a style="cursor: pointer" class="nav-link">
                    <i class="@item.IconCss"></i>
                    <p>
                        @item.Name
                        <i class="fas fa-angle-left right"></i>
                        <span class="badge badge-info right">@totalChild</span>
                    </p>
                </a>
                @if (Model.Any(x => x.ParentId == item.Id))
                {
                    <ul class="nav nav-treeview">
                        @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                        {
                            <li class="nav-item">
                                <a href="@jitem.URL" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@jitem.Name</p>
                                </a>
                            </li>
                        }
                    </ul>
                }

            </li>
        }
    </ul>
</nav>

